---
layout: posts
permalink: /tags/
title: Post Tags
---

<p>
  This is a listing of all post tags with associated posts.
  You can also <a href="/posts">browse chronologically</a> if you like.
</p>

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  {% assign name = tag[0] %}
  {% assign posts = tag[1] | reverse %}

  <section>
    <h2 id="{{name}}"><code>#{{ name }}</code></h2>

    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <small>on {{ post.date | date: "%Y-%m-%d" }}</small>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
