<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>

<meta name="description" content="Edinburgh-based full stack software developer.">
<meta name="robots" content="index, follow">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<link rel="icon" type="image/jpg" href="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=16" size="16x16">
<link rel="icon" type="image/jpg" href="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=80" size="80x80">

<script defer
        src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "017d45c612ea4c63acea27d1f15e336e"}'>
</script>

