<!DOCTYPE html>
<html lang="en-GB">
  <head>
    {% include shared_head.html %}

    <link rel="stylesheet" href="/assets/css/posts.css">

    {%- assign tag_count = page.tags | size -%}
    {% if tag_count > 0 %}
      {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
        <meta property="article:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <header class="container">
      <nav aria-label="breadcrumb">
        <ul>
          <li>
            <a href="/" class="contrast">
              <img
                  src="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=160"
                  alt="Headshot of Josh"
                  class="avatar">
            </a>
          </li>
          {%- if page.title != "Posts" -%}
          <li><a href="/posts" class="contrast">Posts</a></li>
          {%- endif -%}
          <li class="page-title"><a href="{{ page.url }}" class="contrast">{{ page.title }}</a></li>
        </ul>
      </nav>

      <div class="frontmatter">
        <hgroup>
          <h1>{{ page.title }}</h1>
          <h2>{{ page.date | date: "%Y-%m-%d" }}</h2>
        </hgroup>

        {%- assign tag_count = page.tags | size -%}
        {% if tag_count > 0 %}
          {% assign sorted_tags = page.tags | sort %}
          {% for tag in sorted_tags %}
            <a href="/tags#{{tag}}">
              <code>#{{tag}}</code>
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </header>

    <main class="container">
      {{ content }}
    </main>
  </body>
</html>
